<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>第七天到第八天：学习布局</title>
	<link type="text/css" rel="stylesheet" href="homework.css">
</head>

<body>
	<div class="header">
		<div class="comWidth">
			<h2>Logo</h2>
			<ul>
				<li><a href="#">Github</a></li>
				<li><a href="#">Register</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</div>
	</div>
	<div class="banner">
		<div class="banner-content comWidth">
			<ul>
				<li><span>1</span></li>
				<li><span class="active">2</span></li>
				<li><span>3</span></li>
				<li><span>4</span></li>
			</ul>
		</div>
	</div>
	<div class="nav">
		<div class="comWidth">
			<ul>
				<li><span class="active">HOME</span></li>
				<li><span>PROFILE</span></li>
				<li><span>ABOUT</span></li>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="comWidth">
			<div class="content-top">
				<div class="content1">This is Content 1</div>
				<div class="content2">MaybeContent 2</div>
				<div class="content3">Content 3</div>
			</div>
			<div class="content-middle">
				<div>Content 4</div>
				<div>Content 5</div>
				<div>Content 6</div>
				<div>Content 7</div>
			</div>
			<div class="content-bottom">
				<div>Content 8</div>
				<div>Content 9</div>
				<div>Content 10</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<p>&copy; 2018 ife.baidu.com</p>
	</div>
</body>

</html>